html,
body {
    height: 100%;
    Width: 100%;
    margin: 0;
}

.search-flow-container {
    display: block;
}

.flow-title {
    margin-left: 0px;
}

.input-container {
    height: 2rem;
    margin-bottom: 10px;
}

.search-input {
    display: inline-block;
    height: inherit;
    width: 20rem;
    border: 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    outline: none !important;
    border: 1px #0e4ea8;
    box-shadow: 0 0 1px 1px #0e4ea8;
}


.icon-container {
    display: inline-block;
    position: relative;
    height: inherit;
    width: 2rem;
    top: -0.25rem;
    left: -4rem;
}

.icon {
    position: relative;
    height: 1.5rem;
    width: auto;
    top: 0.25rem;
    left: 0.25rem;
}

.cross-icon {
    visibility: visible;
}

.search-icon {
}

.search-input:focus ~ .search-icon-container {
    background-color: #0e4ea8;
}

.search-input:focus ~ .search-icon-container .search-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}